body, html {
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    max-width: 100%; /* Prevent any element from exceeding the width of the viewport */
}
.home-page {
    background-image: url("https://www.shutterstock.com/image-vector/vector-flat-space-design-background-600nw-572708635.jpg") ;
    background-size: cover;
    background-position: center;

}

.titleContainer h1 {
    text-align: center;
    color: white;                 
    font-size: 3em;               
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);  
    font-family: 'Courier New', Courier, monospace;
}
.Tbutton {
    display: inline-block; 
    padding: 10px 20px; 
    margin: 30px; /* Adds space between buttons */
    font-size: 16px; 
    color: black; 
    background-color: lightblue; 
    text-align: center; 
    text-decoration: none; /* Removes underline from links */
    border-radius: 5px; /* Rounded corners */
    border: 20px black;

}
.button {
    display: inline-block; 
    padding: 10px 20px; /* Adds space inside the button */
    margin: 30px; /* Adds space between buttons */
    font-size: 16px; 
    color: black; 
    background-color: lightgray; /* Button background color */
    text-align: center; /* Centers text */
    text-decoration: none; /* Removes underline from links */
    border-radius: 5px; /* Rounded corners */
    border: 20px black; 
    z-index:1000;
}



nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px; 
    height: 100%; 
    z-index: 1000;
    padding-top: 50px; 
}


nav ul {
    list-style-type: none; /* Removes bullet points */
    padding: 0; 
    margin: 0; 
    display: flex;
    flex-direction: column; /* Makes the links stack vertically */
    justify-content: flex-start; /* Aligns links to the top of the nav bar */
    align-items: center; /* Centers the links horizontally */
    
}


nav ul li {
    width: 70%; /*  links span the width of the nav bar */
}


nav ul li a {
    display: block;
    width: 70%; 
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #444;
    border-radius: 5px;
    margin-bottom: 10px; /* Space between links */
    z-index: 1001;
}

.pic_aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%; 
    padding: 20px;
    gap: 60px;
    margin-right: 90px;
    
}
.aboutme h2 {
    font-size: 30px;
}

.aboutme {
    width: 550px; 
    height: 550px; 
    border-radius: 50%; 
    background-color: lightgray; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); 
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}
.mypic {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff; 
    overflow: hidden;
    margin-bottom: 300px;
}
.mypic img {
    width: 100%; /*  image fills the circle */
    height: auto; 
    object-fit: cover; /*  image covers the area without distorting */
}

.icons {
    position: absolute; 
    top: 100%;
    left: 60px; 
    bottom: 20px; 
    width: 250px; 
    height: 250px; 
    border-radius: 50%; 
    background-color: lightgray; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow: hidden; 
    z-index: 1000; 
    font-family: 'Courier New', Courier, monospace;
}

.connectcontent {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.icon-large {
    font-size: 24px; 
    
}

.connectcontent a, .connectcontent span {
    display: block; 
    margin-top: 5px; /* Space between items */
    
}
.hobbiesWrap {
    position:absolute;
    display: flex;
    justify-content: center;
    margin-top: 70px; /* Space between photo and hobbies section */
    margin-left: 500px;
    margin-bottom: 900px;
    font-family: 'Courier New', Courier, monospace;
    
}
  
.hobbies_title {
    position: relative;
    width: 500px; 
    height: 500px; 
    background-color: lightgray; 
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    overflow: hidden;
}
  
.hobby_image img {
    width: 100px; 
    height: 100px;
    border-radius: 50%; 
    object-fit: cover;
}
  
.hobbytitle {
    margin-top: 20px;
}
  
.hobbypara {
    font-size: 12px; 
}

.projectsWrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
}

.logisimpic_proj1, .picproj2 {
    display: grid;
    grid-template-rows: auto auto;
    gap: 10px;
    
}
  
.project1 {
    
    max-width: 300px; /* Adjust width as needed */
    background-color: lightgrey;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', Courier, monospace;
}


  
.project1 h7, .project2 h8 {
    font-size: 18px; 
    margin-top: 0;
}
    
.logisimpic {
    display: flex;
    justify-content: flex-start;
}
  
.logisimpic img {
    width: 100%; 
    height: auto; 
    max-width: 300px; 
    border-radius: 8px; 
}

.project2 {
    max-width: 300px;
    height: 500px;
    background-color: lightgrey;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Courier New', Courier, monospace;
    margin-top: 300px;
}
.treepic {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 700px;
    
}
  
.treepic img {
    width: 100%; 
    height: 100%; 
    max-width: 300px; 
    border-radius: 8px; 
}
.otherproj {
    max-width: 300px;
    height: 400px;
    background-color: lightgrey;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 400px;
    font-family: 'Courier New', Courier, monospace;
}
  
.otherproj h9 {
    font-size: 18px;
    margin-top: 0;
}
.otherproj h11 {
    font-size: 16px;
    margin-top: 10px;
}

.portpg {
    background-image: url("https://i.pinimg.com/564x/f8/1f/32/f81f32f7968e9282f5194a41a2837313.jpg") ;
    background-size: cover;
    background-position: center;

}
.PortContainer h1 {
    text-align: center;
    color: white;                 
    font-size: 4em;               
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);  
    font-family: 'Courier New', Courier, monospace;
    margin-top: 150px;
}

.timelineWrap {
    position: relative;
    width: 90%;
    min-height: 100vh;
    padding: 40px 0;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    
}

/* The vertical line in the middle */
.timeline {
    position: absolute;
    left: 50%; /* Center the timeline */
    transform: translateX(-50%);
    width: 10px; 
    
    height: 100vh; /* Full height of the timelineWrap */
    top:0;
    bottom: 0;
    z-index: 0;
    
}


.event {
    position: relative;
    width: 50%; /* Each event takes up half the width of the page */
    margin-bottom: 30px;
    border: 1px solid blue; 
    background-color: #007bff;
    display: flex;
    justify-content: center; 
    
    
}

/* Position odd events to the left */
.event:nth-child(odd) {
    justify-content: flex-end;
    text-align: right;
}

/* Position even events to the right */
.event:nth-child(even) {
    justify-content: flex-start;
    text-align: left;
}
.resume {
    box-sizing: border-box; /* Ensures padding doesn't affect width/height */
    width: 450px; 
    height: 450px;
    border-radius: 50%;
    background-color: lightgray;
    padding: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* Circular content boxes */
.skills, .interestpara, .skillspic {
    width: 450px; 
    height: 450px;
    
    border-radius: 50%;
    background-color:lightgray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    z-index: 1;

    font-family: 'Courier New', Courier, monospace;
    
}


.skills p, .interestpara p {
    font-size: 13px;
    text-align: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    
}
.resume {

    font-size: 18px;
    text-align:center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;

}
.skills h14, .interestpara h15{
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}


.event a.button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
    z-index: 2; 
    font-family: 'Courier New', Courier, monospace;
}

/* timeline stays behind the buttons and circles */
.timeline {
    z-index: 0;
}

.qualpg {
    background-image: url("https://i.pinimg.com/originals/aa/76/46/aa76467f63a2f023a5d484ba26aa0849.jpg") ;
    background-size: cover;
    background-position: center;

}

.volun_pic {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 50%; 
    padding: 20px;
    gap: 60px;
    margin-right: 90px;
    
}

.volunteering {
    width: 700px; 
    height: 700px; 
    border-radius: 50%; 
    background-color: lightgray; 
    background-image: url('https://media.istockphoto.com/id/809925522/vector/isolated-moon-made-in-flat-style.jpg?s=612x612&w=0&k=20&c=rLDDEAd90555WZ42dgdPEDGmNkfb1CTOFNu4RKqQXto='); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); 
    padding: 20px;
    font-size: 13px;
    font-weight:600;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}
.garden h20, .foodbank h21 {
    font-size: 20px;
}

.onlypic {
    width: 300px; 
    height: 300px; 
    border-radius: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff; 
    overflow: hidden;
    margin-bottom: 300px;
}
.onlypic img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}
.tutoring {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50%; 
    padding: 20px;
    margin-right: 300px;
    margin-bottom: 20px;
    
}

.mentor {
    width: 450px; 
    height: 450px; 
    border-radius: 50%; 
    background-color: lightgray; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15); 
    padding: 20px;
    font-size: 13px;
    
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
}
.mentor h22 {
    font-size: 20px;
}
.servicepg {
    background-image: url("https://4kwallpapers.com/images/wallpapers/stars-galaxy-2560x2560-10307.jpg") ;
    background-size: cover;
    background-position: center;

}
.ethical-concerns{
    width:60%;
    margin:auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}
.ethical-concerns a{
    color: white;
}
.prompt-box{
    width:60%;
    margin:auto;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color:lightgray;

}
.AIpg {
    background-image: url("https://static.vecteezy.com/system/resources/previews/001/268/880/non_2x/a-galaxy-space-theme-background-vector.jpg") ;
    background-size: cover;
    background-position: center;

}








